@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,400&display=swap');

@media () {
	.container {
		width: 100%;
	}

	.container .left {
		width: 100%;
	}

	.container .right {
		width: 100%;
	}

	.container .right .content {

	}
}


html,
body {
	background: linear-gradient(to bottom, #000000, #1a1a1a);
	margin: 0;
    padding: 1rem, 1rem, 1rem, 1rem;

}
h1{
	margin-bottom: 0.1rem;
	font-size: 1.5rem;
	font-weight: normal;

}
h2{
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	font-weight: normal;

}

p{
	line-height: .5rem;
	font-weight: lighter;
	font-size: 1rem;
	margin-bottom: 0.5rem;

}

a {
	color: inherit;
	text-decoration: none;

}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}

@media (prefers-color-scheme: dark) {
	html {
	}

}