@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,400&display=swap');

@media (max-width: 600px) {
	.container {
		flex-direction: column;
	}
}

html,
body {
	background: linear-gradient(to bottom, #000000, #1a1a1a);	
	font-family: 'Rubik';
	font-weight: normal;
	margin: 0;
    padding: 1rem;
	height: 100%;

}
h1{
	margin-bottom: 0.5rem;
	font-size: 2rem;
	font-weight: normal;

}
h2{
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	font-weight: normal;

}

p{
	line-height: .5rem;
	font-weight: lighter;

}

a {
	color: inherit;
	text-decoration: none;

}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}

@media (prefers-color-scheme: dark) {
	html {
	}
}