@media (max-width: 768px) {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.main {
		padding: 1rem 0;
	}
	.main .logo {
		width: 100%;
	}

	.main .logo img {
		width: 100%;

	}
}

.main {
	padding: 0.1rem, 0.1rem, 0.1rem, 0.1rem;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	}

@media (prefers-color-scheme: dark) {
	.main {
		background-color: #000;
	}
}	
