@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}

	.main {
		padding: 1rem 0;
	}
	.main .logo {
		width: 100%;
	}

	.main .logo img {
		width: 100%;

	}
}

.main {
	padding: 2rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}