@media only screen and (max-width: 768px) {
	.header_container h1{
		font-size: 24px;
		line-height:32px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.header_container p{
		font-size: 16px;
		line-height: 24px;

	}
	.header_container li{
		font-size: 12px;
		line-height: 24px;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	.buttons_container{
		gap: 0.5rem;
	}
	.button{
		width: 60%;
		padding: 1rem;

	}
	.button p{
		font-size: 24px;
		line-height: 32px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}
}
.container{
	color: white;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.header_container{
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}

.header_container h1{
	font-size: 64px;
	font-weight: 700;
	line-height: 80px;
}


.header_container h1 span{
	background: linear-gradient(to right, rgba(255, 255, 0, 1), rgba(0, 128, 0, 1));
	background-clip: text;
	color: transparent;
}

.header_container p{
	font-size: 20px;
	line-height: 28px;
}
å
.header_container p span{
	color: #D73719;
	width: 197px;
	height: 36px;

background: rgba(255, 255, 255, 0.08);
/* Grayscale/Metal */
border-radius: 8px;
	padding: .5rem 1rem .5rem .5rem;
	margin-left: .3rem;
}


.buttons_container{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	align-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	justify-content: center;

}

.button{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;	

padding: 24px 32px;
gap: 14px;


width: 392px;
height: 76px;

background: linear-gradient(to right, rgba(255, 255, 0, 1), rgba(0, 128, 0, 1));

border: 1px solid rgba(255, 255, 255, 0.2);
box-sizing: border-box;
border-radius: 12px;
cursor: pointer;
transition: all 0.3s ease;

}

.button:hover {
	transform: translateY(-5px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

.button p {

font-style: normal;
color: black;
font-weight: 900;
font-size: 30px;
line-height: 28px;
text-align: center;
letter-spacing: 0.01em;


}
.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 0.5rem;

}
.icons_container{
	display: flex;
	gap: 2rem;
	margin-bottom: .5rem;

}
.footer p{
	font-size: 16px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.5);

}