@media (max-width: 768px) {
	.container {
		flex-direction: relative;
	}
	.navbar {
		gap: 0.5rem;

	}
	.navbar .macaw_logo {
		width: 2.5rem;
	}
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
	width: 100%;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	gap: 0.5rem;
}


.macaw_logo{
	width: 3rem;
	cursor: pointer;
	margin-bottom: 0rem;
	margin-left: 1rem;
	margin-top: 1rem;
	margin-right: 1rem;
}