.page_flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  border: 2px solid #cfd9f0;
  max-width: 724px;
  padding: 2px,  2px,  2px,  2px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 13px;

}

.page_container {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 321px;
  gap: 1px;
  width: 90%;
  padding: 0 1rem, 0 1rem, 0 1rem, 0 1rem;


}

.nft_info {
  justify-content: center;
  flex-direction: column;
  color: #4e4e4e;
  gap: 10px;
}

.nft_title {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 0.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(to right, rgba(255, 255, 0, 1), rgba(0, 128, 0, 1));
	background-clip: text;
	color: transparent;
	border-radius: 6px;
}


.nft_author {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.3rem;

}

.nft_instructions_title {
  color: #4e4e4e;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0.3rem;

}

.text {
  display: flex;
  justify-content: relative;
  font-size: 16px;
  color: white;
  font-weight: 333;

  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1.5;



}

.break {
  margin-block: 1em;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
  margin-left: 0 1rem;
  margin-right: 0 1rem;
  gap: 1rem;
  spacing: 1rem;
  font-size: 2rem;
  background: linear-gradient(to right, rgba(255, 255, 0, 1), rgba(0, 128, 0, 1));
  border-radius: 22px;
  shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.3s ease;
  
  }

.transaction_box {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}
.tx_hash {
  color: rgb(0, 98, 255);
}

.isMinting {
  background-color: lightgray;
  cursor: not-allowed;
}

.attribute_input_label {
  font-weight: 700;
  font-size: 14px;
  color: #4e4e4e;
  margin-block: 0.5em;
}

.address_container {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media screen and (max-width: 421px) {
  .page_container {
    display: block;
    width: 100%;
    padding: 1rem, 1rem, 1rem, 1rem;
    margin-top: 0 1rem;
    margin-bottom: 0 1rem;
    margin-left: 0 1rem;
    margin-right: 0 1rem;
    }

  .page_flexBox {
    display: block;
    width: 372px;
    margin: auto;
    padding: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 12px;

  }

  .nft_info {
    width: 100%;
    font-size: 18px;
  }


  .text {
    display: flex;
    justify-content: relative;
    display: block;

    font-size: 18px;
  }

  .nft_author {
    font-size: 20px;
  }

  .nft_instructions_title {
    display: flex;
    justify-content: relative;
    font-size: 24px;
  }
}
  @media (max-width: 768px) {
    .page_flexBox {
      align-items: center;
      margin: auto;
      padding: 20px;
      margin-top: 3rem;
      border-radius: 12px;
      
    }
  
  
    .nft_info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #4e4e4e;
      gap: 10px;  
      width: 100%;
      margin: auto;

    }

    .button {
      border-radius: 8px;
      background-color: #4e4e4e;
      padding: 8px 10px;
      font-weight: 700;
      margin-top: 1em;
      border: none;
      width: 100%;
    }

  }