
.page_flexBox {
    display: flex;
    justify-content: center;
    border: 1px solid #cfd9f0;
    max-width: 814px;
    margin: auto;
    padding: 20px;
    margin-top: 3rem;
    border-radius: 12px;

  }
  
  .page_container {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    margin: auto;
    padding: 20px;
    margin-top: 1rem;
    border-radius: 6px;

  }
  
  .page_header {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .nft_media_container {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    width: 50%;
    margin: auto;
  }
  
  .nft_media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    z-index: 1;
    width: 350px;
    height: 350px;
    object-fit: cover;

  }
  
  .nft_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #4e4e4e;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: auto;

  }
  
  .nft_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0.3rem;
  

  }
  
  .nft_author {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.3rem;


  }
  
  .nft_instructions_title {
    color: #949698;
    font-size: 16px;
    font-weight: 500;
   
  }
  
  .text {
    font-size: 16px;
    color: #4e4e4e;
    font-weight: 300;
    margin-bottom: 0.3rem;
    line-height: 1.5;


  }
  
  .break {
    margin-block: 1em;
  }
  
  .button {
    border-radius: 8px;
    background-color: #4e4e4e;
    padding: 8px 10px;
    font-weight: 700;
    margin-top: 1em;
    border: none;
    width: 150px;
  }
  
  .transaction_box {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5px;
  }
  .tx_hash {
    color: rgb(0, 98, 255);
  }
  
  .isMinting {
    background-color: lightgray;
    cursor: not-allowed;
  }
  
  .attribute_input_label {
    font-weight: 700;
    font-size: 14px;
    color: #4e4e4e;
    margin-block: 0.5em;
  }
  
  .address_container {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  @media (prefers-color-scheme: dark) {
    .page_flexBox {
      border: 1px solid #cfd9f0;
    }
  
    .nft_title {
      color: #fff;
    }
  
    .nft_author {
      color: #fff;
    }
  
    .nft_instructions_title {
      color: #949698;
    }
  
    .text {
      color: #fff;
    }
  
    .button {
      background-color: #fff;
      color: black;
    }
  
    .attribute_input_label {
      color: #fff;
    }
    
  }
  @media (max-width: 768px) {
    .page_flexBox {
      flex-direction: column;
      align-items: center;
      border: 1px solid #cfd9f0;
      max-width: 814px;
      margin: auto;
      padding: 20px;
      margin-top: 3rem;
      border-radius: 12px;
    }
  
    .nft_media_container {
      position: relative;
      top: 0;
      left: 0;
      border-radius: 20px;
      width: 100%;
      height: 100%;
    }
  
    .nft_media {
      position: relative;
      border-radius: 10px;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  
    .nft_info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #4e4e4e;
      gap: 10px;  
      width: 100%;
      margin: auto;

    }

    .button {
      border-radius: 8px;
      background-color: #4e4e4e;
      padding: 8px 10px;
      font-weight: 700;
      margin-top: 1em;
      border: none;
      width: 100%;
    }

  }