.token_panel_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  color: rgb(12, 12, 12);

}

.tokens_box {
  background-color: white;
  border-radius: 12px;
  border: 1px solid #cfd9f0;
  padding: 2em;
  height: 300px;
  width: 378px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

}

.header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 2em;

}

.token_container {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5em;
  align-items: center;

}

.image_container {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: linear-gradient(#ffd27c, #ffaa8f);

}

.image_placeholder_container {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: linear-gradient(#ffd27c, #ffaa8f);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;

}

.token_name_sybol_container {
  display: flex;
  column-gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  

}
.token_name {
  display: flex;
  font-weight: 600;
  align-items: center;
  gap: 1em;
  font-size: 16px;
  color: #4e4e4e;
  
}

.token_info {
  display: flex;
  gap: 0.5em;
  font-weight: 700;
  font-size: 16px;
  color: #4e4e4e;
}

.coin_symbol {
  color: #4e4e4e;
  font-weight: 400;

}
@media (max-width: 768px) {
  .token_panel_container {
    margin-top: 0;
  }
  .tokens_box {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    padding: 0;
  }
  .header {
    margin-bottom: 1em;
  }
  .token_container {
    margin-block: 1em;
  }
  .image_container {
    height: 25px;
    width: 25px;
  }
  .image_placeholder_container {
    height: 25px;
    width: 25px;
  }
  .token_name_sybol_container {
    column-gap: 0.3rem;
  }
  .token_name {
    gap: 0.5em;
    font-size: 14px;
  }
  .token_info {
    gap: 0.3em;
    font-size: 14px;
  }
  .coin_symbol {
    font-size: 12px;
  }
  
}

